*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.container-size{
    max-width: 1400px;
}

.margin-center{
    margin: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.absolute{
    position: absolute;
}

header{
    background-color: #ff6900;
    color: white;
    font-size: 1rem;
    
}

header nav{
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

header nav .target{
    width: 13%;
    justify-content: space-between;
    font-weight: bold;
}

header nav .logo{
    width: 74%;
    text-align: center;
}

header nav .logo img{
    height: 30px;
}

header nav .menu-icon{
    width: 13%;
    justify-content: flex-end;
}

header nav .menu-icon img{
    height: 15px;
    padding: 0 3px;
}

main .shop{
    flex-wrap: wrap;
    justify-content: space-between;
}

main .shop .item-box{
    width: calc(100% / 3 - 20px);
    margin-top: 50px;
}

main .shop .item-box:nth-child(3n+2){
    margin-left: 20px;
    margin-right: 20px;
}

main .shop .item-box .item{
    position: relative;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .shop .item-box:nth-of-type(1) .item{
    background-image: url(../img/1.webp);
}

main .shop .item-box:nth-of-type(2) .item{
    background-image: url(../img/2.webp);
}

main .shop .item-box:nth-of-type(3) .item{
    background-image: url(../img/3.webp);
}

main .shop .item-box:nth-of-type(4) .item{
    background-image: url(../img/4.webp);
}

main .shop .item-box:nth-of-type(5) .item{
    background-image: url(../img/5.webp);
}

main .shop .item-box:nth-of-type(6) .item{
    background-image: url(../img/6.webp);
}

main .shop .item-box .item .hearth{
    height: 50px;
    width: 50px;
    background-color: white;
    top: 10px;
    right: 0;
    text-align: center;
    font-size: 2.5rem;
}

main .shop .item-box .item .banner{
    font-weight: bold;
    padding: 4px 10px;
    color: white;
    font-size: 1rem;
}

main .shop .item-box .item .discount{
    background-color: #ff0000;
    bottom: 40px;
    left: 0;
}

main .shop .item-box .item .sustainability{
    background-color: #008000;
    bottom: 40px;
    left: 60px;
}

main .shop .item-box:nth-child(6) .item .sustainability{
    left: 0;
}

main .shop .item-box .brand-name{
    font-size: 0.9rem;
    padding: 5px 0;
}

main .shop .item-box .dress-name{
    font-size: 1.1rem;
    font-weight: 600;
}

main .shop .item-box .price{
    display: inline-block;
    font-size: 0.85rem;
}

main .shop .item-box .discounted{
    color: #ff0000;
    font-weight: 600;
}

main .shop .item-box .old{
    text-decoration: line-through;
}

footer{
    background-color: #1a1a1a;
    color: white;
    font-size: 1rem;
    padding: 30px 0;
    margin-top: 50px;
}

footer .footer-menu{
    justify-content: space-between;
    align-items: center;
}
footer .footer-menu .info-box .title{
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 1.2rem;

}

footer .footer-menu .info-box li{
    padding-right: 10px;
    font-size: 0.85rem;
}

footer .footer-menu .social-box .find-us{
    font-weight: 600;
    font-size: 0.85rem;
    padding-bottom: 10px;
}

footer .footer-menu .social-box .icon-box img{
    height: 20px;
    padding-right: 6px;
}

